@import 'styles';

.app {
	font-family: $font-family;
}

.content {
	padding-top: $header-height;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.body {
	flex: 1;
}

@media screen and (max-width: $breakpoint-sm) {
	.content {
		padding-top: $header-height-mobile;
	}
}
