@import 'variables.scss';

.container {
	max-width: 1000px;
	width: 100%;
	margin: 20px auto;
	padding: 0 20px;

	table {
		width: 100%;
		margin-top: 20px;
		tr {
			border-bottom: 1px solid #ddd;
		}
		th, td {
			padding: 5px;
		}
	}
}

.sToken {
	position: relative;
	width: max-content;
	margin-left: auto;
	.coinToken {
		display: none;
		position: absolute;
		top: -29px;
		left: 50%;
		color: #fff;
		background-color: $quanta-color-purple1;
		padding: 2px 10px;
		border-radius: 20px;
		box-shadow: 0 2px 2px rgba(0,0,0,0.3);
		transform: translateX(-50%);
	}
	.coinToken::after {
		content: "";
		border: solid 6px transparent;
		border-top-color: #5045d2;
		position: absolute;
		bottom: -11px;
		left: calc(50% - 3px);
	}
}

.sToken:hover {
	.coinToken {
		display: block;
	}
}

.category {
	width: 100px;
	margin-top: auto;
}