// Colors

$global-padding-left: 6%;
$global-padding-right: 6%;

$header-height: 78px;
$header-height-mobile: 138px;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Screen sizes
$breakpoint-sm: 768px;
