@import 'variables.scss';

.status {
	display: flex;
	justify-content: center;
	color: #999;
	text-align: center;
	padding: 20px;
	background-color: #f8f8fa;
	border-bottom: 1px solid #ddd;

	div {
		padding: 0 50px;
	}
	div:nth-child(2) {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	span {
		font-size: 20px;
		font-weight: bold;
		color: #110e36;
	}
}
.content {
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	padding: 0 20px;

	table {
		width: 100%;
		td {
			padding: 5px 10px;
		}
	}

	.opList, .blocksList {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: $breakpoint-sm) {
	.status {
		div {
			padding: 0 10px;
			font-size: 12px;
			white-space: nowrap;
			span {
				font-size: 18px;
			}
		}
	}
}