@import 'bootstrap/scss/bootstrap.scss';
@import 'styles';

.app {
	font-family: $font-family;
}

.content {
	padding-top: $header-height;
}

@media screen and (max-width: $breakpoint-sm) {
	.content {
		padding-top: $header-height-mobile;
	}
}
