@import 'styles';

.app {
	font-family: $font-family;
}

.content {
	padding-top: $header-height;
}

.body {
	padding: 0 $global-padding-right 0 $global-padding-left;
}

@media screen and (max-width: $breakpoint-sm) {
	.content {
		padding-top: $header-height-mobile;
	}
}
