// Colors
$quanta-color-purple1: #5045d2;

$quanta-color-gray1: #f8f8fa;
$quanta-color-gray2: #979797;
$quanta-color-gray3: #d3d3d3;

$quanta-color-black1: #110e36;

$quanta-color-border1: rgba(61, 61, 61, 0.36);
$quanta-color-border2: rgba(211, 211, 211, 0.8);
$quanta-color-border3: rgba(151, 151, 151, 0.21);

$global-padding-left: 6%;
$global-padding-right: 6%;

$header-height: 78px;
$header-height-mobile: 138px;

// Screen sizes
$breakpoint-sm: 767px;

// Font

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size1: 14px;
$font-size2: 15px;
$font-size3: 20px;
$font-size4: 12px;
$font-size5: 16px;
$font-size6: 13px;
$font-size7: 10px;

$line-height1: 16px;
$line-height2: 19px;
$line-height3: 25px;
$line-height4: 15px;
$line-height5: 12px;
$line-height6: 29px;

$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: bold;
